body{
    margin: 0;
    box-sizing: border-box;  
}
#container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn{
    border-radius: 7px;
    font-size: 2em;
    border-width: 3px;  
}
#btn:hover{
    background-color: tan;
}

